* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.imgchest.com/files/e4gdcpnbw4r.png"); 
    opacity: .5;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1400px;
}

.container > * {
    flex-basis: 200px;
    flex-shrink: 1;
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
}


.box1 {
  flex-grow: 1;
}

.box2 {
  flex-grow: 2;
}

.box3 {
  flex-grow: 3;
}

.box4 {
  flex-grow: 5;
}

.box5 {
  flex-grow: 1;
}

.box6 {
  flex-basis: 100px;
  flex-grow: 0;
}
