* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("https://cdn.imgchest.com/files/e4gdcpnbw4r.png"); 
    opacity: .5;
    background-repeat: no-repeat;
}


.container {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container > * {
    background-color: lightblue;
    font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 200px;
}


.box1 {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 194px;
}

.box2 {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 583px;
}

.box3 {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 583px;
}

.box4 {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 1166px;
}

.box5 {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 233px;
}

.box6 {
    flex-grow: 1; 
    flex-shrink: 1; 
    flex-basis: 1340px;
}
